<p id="notice"><%= notice %></p>

<p>
  <strong>Begin value:</strong>
  <%= @decision.begin_value %>
</p>

<p>
  <strong>End value:</strong>
  <%= @decision.end_value %>
</p>

<p>
  <strong>Decision:</strong>
  <%= @decision.decision %>
</p>

<p>
  <strong>Title:</strong>
  <%= @decision.title %>
</p>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
